/* Fondo general */
.root {
    -fx-background-color: #f5f5f5; /* Fondo suave */
}

/* Estilo para la tabla */
.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-selection-bar: #abd5ff;
    -fx-selection-bar-non-focused: #f5f5f5;
}

.table-column {
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -fx-text-fill: #444444;
}

/* Encabezado de las columnas */
.table-view .column-header {
    -fx-background-color: #abd5ff; /* Azul claro */
    -fx-text-fill: white;
    -fx-padding: 8px;
}

/* Hover en las filas */
.table-view .table-row-cell:hover {
    -fx-background-color: #f7f7f7; /* Fondo claro al pasar el ratón */
}

/* Estilo para los botones */
.button {
    -fx-background-color: #abd5ff; /* Azul claro */
    -fx-text-fill: white;
    -fx-padding: 10px 15px;
    -fx-border-radius: 8px;
}

.button:hover {
    -fx-background-color: #92c6ff; /* Azul más oscuro al pasar el ratón */
}

/* Estilo para los textos */
.text {
    -fx-font-size: 16px;
    -fx-text-fill: #444444;
}
