/* Fondo y márgenes generales */
.root {
    -fx-background-color: #f5f5f5; /* Fondo suave */
}

.border-pane {
    -fx-background-color: #e0eaebe7; /* Fondo de la ventana */
}

.left, .right {
    -fx-background-color: #ffffff;
}

/* Estilo para las imágenes */
.image-view {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0.1, 0, 0);
}

.image-view:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.1, 0, 0);
}

/* Estilo para los textos */
.text {
    -fx-font-family: 'Segoe UI', Tahoma, sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: #444444;
}

/* Estilo para los campos de texto (TextField y PasswordField) */
.text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-focus-color: #abd5ff;
    -fx-text-fill: #444444;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #abd5ff;
}

/* Estilo para el botón de registro */
.button {
    -fx-background-color: #9aa8ae;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-radius: 5px;
    -fx-padding: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.1, 0, 0);
}

.button:hover {
    -fx-background-color: #8a9a9f; /* Cambio de color al pasar el mouse */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0.1, 0, 0);
}

/* Estilo para el contenedor AnchorPane */
.anchor-pane {
    -fx-background-color: #ffffff;
}

/* Estilo para el cursor */
.cursor-hand {
    -fx-cursor: hand;
}
